@import "bourbon/bourbon";
@import "neat/neat";

$themeColor:#A80000;

@mixin transition-mixin{
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
}
@mixin transition-mixin-1s{
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
}

*{
	margin:0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix{
	clear:both;
}

.fixedBar{
	position: fixed;
    display:none;
	z-index:9999;
	top:0;
	left:0;
	width:100%;
	padding:5px 20px;
	background: $themeColor;
	.left{
		color: #fff;
		float:left;
		font-size: 30px;
	}
	.right{
		float: right;
		.intro{
			display: inline-block;
			position: relative;
			width:30px;
			height:30px;
			margin:5px;
			
			&.cordova{
				width:25px;
				background: url(../images/cordova.png) no-repeat center;
				background-size:100% 100%;
			}
			&.worklight{
				background: url(../images/worklight.png) no-repeat center;
				background-size:80% 80%;
			}

			&.native{
				background: url(../images/native.png) no-repeat center;
				background-size:100% 100%;
			}
			&.appcelerator{
				background: url(../images/appcelerator.png) no-repeat center;
				background-size:100% 90%;
			}
			&.xamarin{
				background: url(../images/xamarin.png) no-repeat center;
				background-size:80% 75%;
			}
		}
	}
}

.container{
	position: fixed;
    width:100%;
    height: 100%;
    top:0;
    left:0
}

.wlIcon{width:50px;height:50px;margin-top: 10px}
.cordovaIcon{width: 50px;height: 50px;margin-top: 10px}
.nativeIcon{width: 50px;height: 50px;margin-top: 10px}
.appcelerIcon{width: 50px;height: 50px;margin-top: 8px;}
.xamarinIcon{width: 50px;height: 50px;margin-top: 10px}

header{
	padding:15% 0;
    height:100%;
	text-align: center;
	background: $themeColor;
	color:#fff;
	h2{
		font-size: 80px;
	}
	.intro{
		display: inline-block;
		position: relative;
		width:90px;
		height:90px;
		margin:15px;
		.name{
			position: absolute;
			bottom:-25px;
			text-align: center;
			left:0;
			width: 100%
		}
		&.cordova{
			width:80px;
			height:90px;
			background: url(../images/cordova.png) no-repeat center;
			background-size:100% 100%;
		}
		&.worklight{
			background: url(../images/worklight.png) no-repeat center;
			background-size:80% 80%;
		}

		&.native{
			background: url(../images/native.png) no-repeat center;
			background-size:100% 100%;
		}
		&.appcelerator{
			background: url(../images/appcelerator.png) no-repeat center;
			background-size:100% 90%;
		}
		&.xamarin{
			background: url(../images/xamarin.png) no-repeat center;
			background-size:80% 75%;
		}
	}
}


.subheading{
	padding: 15%;
	font-size: 60px;
    height: 100%;
	text-align: center;
    background: #fff;
    color: $themeColor;
}
.content{
    margin: 0;
    padding:15% 0;
    height: 100%;
	h1{
		text-align: center;
		margin:0;
	}
}

.matrix{
	width:900px;
	margin:5px auto;
    .icon-thumbs-up{
        color:#090;
    }
    .icon-thumbs-up2{
        color:#900
    }
	.table-grid{
		display: table;
		border:1px solid #aaa;
		border-radius:15px;
		width:900px;
		.table-row{
			display: table-row;
			&.table-header{
				.table-cell{
					padding: 5px 10px;
					border-top: 0;
				}
			}
			.table-cell{
				display: table-cell;
				width:100px;
				border:1px solid #aaa;
				border-left:0;
				border-bottom: 0;
				text-align: center;
				padding:15px 10px;
				font-size: 24px;
				vertical-align: middle;
				&:first-child{
					text-align:left;
					width:400px;
				}
				&:last-child{
					border-right: 0;
				}
				.pict{
					width:100px;
					height:45px;
					&.cordova{
						width:100px;
						height:45px;
						background: url(../images/cordova.png) no-repeat center;
						background-size:40px 45px;
					}
					&.worklight{
						background: url(../images/worklight.png) no-repeat center;
						background-size:40px 40px;
					}

					&.native{
						background: url(../images/native.png) no-repeat center;
						background-size:40px 40px;
					}
					&.appcelerator{
						background: url(../images/appcelerator.png) no-repeat center;
						background-size:40px 40px;
					}
					&.xamarin{
						background: url(../images/xamarin.png) no-repeat center;
						background-size:40px 40px;
					}
				}
			}
		}
	}
}
.likeIcon{
    position:absolute;
    right:2px;
    bottom:2px;
    width:40px;
    height:40px;
}

.iterate{
    visibility: hidden;
}

.swift{
    position: fixed;
    display: none;
    width:100%;
    height:100%;
    background: url(../images/swift.jpg) center no-repeat;
    background-size: cover;
}
.igniteLogo{
    width:104px;
    height:48px;
    background: url(../images/ignite_logo.png) center no-repeat;
    background-size: 100% 100%;
    position: fixed;
    left:2px;
    bottom: 5px;
    display: none;
}